:root {
    --gutter: 30px;
    --primary-color: #6c6c6f;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
  color: var(--primary-color);
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}
a {
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rufina', serif;
  font-weight: 700;
}
ul,
ol {
    list-style: none;
}
p {
    margin: 0;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(var(--gutter) / -2);
    margin-right: calc(var(--gutter) / -2);
}

.col-1 {
    flex-basis: 8.33%;
}

.col-2 {
    flex-basis: 16.67%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 33.33%;
}

.col-5 {
    flex-basis: 41.67%;
}

.col-6 {
    flex-basis: 50%;
}

.col-7 {
    flex-basis: 58.33%;
}

.col-8 {
    flex-basis: 66.67%;
}

.col-9 {
    flex-basis: 75%;
}

.col-10 {
    flex-basis: 83.33%;
}

.col-11 {
    flex-basis: 91.67%;
}

.col-12 {
    flex-basis: 100%;
}

[class*="col-"] {
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
    order: 12;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.j-center {
    justify-content: center;
}

.flex.j-end {
    justify-content: end;
}

.flex.j-between {
    justify-content: space-between;
}

.flex.a-start {
    align-items: flex-start;
}

.flex.a-center {
    align-items: center;
}

.flex.a-end {
    align-items: flex-end;
}
section {
    position: relative;
    width: 100%;
    display: block;
}
.mrbg {
    margin-left: auto;
    margin-right: auto;
}
button, input, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
/* header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.nav-item a {
    color: #263a41;
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20px;
}
.header a:hover {
    color: #ff817e;
}
.nav-link.active {
    color: #ff817e;
}
.banner {
    background: url(images/leaf.png) no-repeat left center/12.5%;
    padding: 12% 0;
}
.banner .spa-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 43.4%;
}
.banner span {
    color: #ff817e;
    display: block;
    font-family: "Rufina", serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.banner h2 {
    color: #1e2528;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 25px;
}
.banner p {
    color: #555;
    margin-bottom: 50px;
}
.btn {
    background-color: #ff817e;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 15px;
    text-align: center;
    vertical-align: middle;
}
.btn:hover {
    color: #1e2528;
}
.video-btn {
    color: #555;
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
}
.video-btn i {
    border-radius: 50%;
    background-color: #fcf5ee;
    color: #ff817e;
    display: inline-block;
    line-height: 44px;
    text-align: center;
    margin-right: 10px;
    height: 44px;
    width: 44px;
}
.video-btn:hover {
    color: #ff817e;
}
/* about */
.about {
    text-align: center;
    padding: 50px 0;
}
.about .about-fl {
    position: absolute;
}
.about .flower1 {
    left: 16%;
    top: 0;
    max-width: 160px;
}
.about .flower2 {
    right: 135px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 88px;
}
.sec-heading {
    margin-bottom: 70px;
    position: relative;
    text-align: center;
}
.sec-heading img {
    max-width: 84px;
    margin: 0 auto 40px;
    display: block;
}
.sec-heading .about-tagname {
    color: #888;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: .8;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.sec-heading .sec-title {
    color: #1e2528;
    font-size: 42px;
    margin-bottom: 32px;
}
.sec-heading p {
    color: #888;
    margin-bottom: 0;
}
.btn-round {
    border-radius: 50px;
}
/* service */
.service {
    padding: 50px 0;
    overflow: hidden;
}
.service-item {
    flex-basis: calc(100% / 4 - 15px / 4);
    position: relative;
}
.service-item img {
    object-fit: cover;
    width: 100%;
}
.service-item:not(:nth-child(4n)) {
    margin-right: 5px;
}
.service-item:hover .service-hover {
    opacity: 1;
    visibility: visible;
}
.service-hover img {
    margin: 0 auto 20px;
    width: 47px;
    display: block;
}
.service-hover span {
    color: #fff;
    display: block;
    font-family: "Rufina", serif;
    font-weight: 700;
}
.service-item .service-hover {
    background-color: rgba(255, 129, 126, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
}
/*procedures*/
.procedures {
    text-align: center;
    padding: 50px 0;
}
.post {
    border: 1px solid #e3e6ea;
    text-align: center;
    transition: all 300ms ease-in-out;
    padding: 20px;
    margin-bottom: 30px;
}
.post img {
    margin-bottom: 35px;
    display: block;
}
.post h4, .post h4 a {
    color: #263a41;
    font-size: 22px;
}
.post h4 {
    margin-bottom: 22px;
}
.post p {
    margin-bottom: 39px;
}
.post .btn {
    background-color: #30383b;
    margin-bottom: 30px;
    padding: 15px;
    color: white;
}
.post:hover {
    box-shadow: 0 5px 20px #f0f0f0;
}
.post:hover .btn-round {
    background-color: #ff817e;
}
/* infomation */
.infomation {
    text-align: center;
    padding: 50px 0;
    background-color: #fff9f8;
}
.single-tst img {
    margin: 0 auto 45px;
    width: 59px;
    display: block;
}
.single-tst p {
  color: #263a41;
  font-family: "Rufina", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 43px;
}
.single-tst .client-info .thumb {
  border-radius: 50%;
  margin-bottom: 22px;
  height: 76px;
  width: 76px;
}
/* team */
.team {
    text-align: center;
    padding: 50px 0;
}
.team .memb {
    position: relative;
    width: 100%;
}
.team img {
    display: block;
}
.memb .memb-details {
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0 5px 20px #f0f0f0;
    max-width: calc( 100% - 60px);
    margin: -50px auto 0;
    position: relative;
    text-align: center;
    z-index: 1;
}
.memb .memb-details h6 {
    color: #263a41;
    font-size: 22px;
    margin-bottom: 0;
}
.memb .memb-details span {
    display: block;
    margin-bottom: 15px;
}
/* contact */
.contact {
    padding: 50px 0;
}
.contact address {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  padding-left: 80px;
  position: relative;
}

.contact address a {
  color: #888;
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.contact address a:hover {
  color: #ff817e;
}

.contact address span {
  background-color: #ff817e;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}
.contact .contact-form {
  width: 100%;
}
.contact .contact-form input, .contact .contact-form textarea {
  border: 1px solid #e3e6ea;
  display: block;
  padding: 10px 20px;
  margin-bottom: 25px;
  width: 100%;
}
.contact-form button {
    border: none;
    outline: none;
}

.contact .contact-form textarea {
  resize: none;
}
#message {
    margin-top: 15px;
    color: green;
}
/* footer*/
.footer {
    background-color: #fff9f8;
    padding: 80px 0 60px;
}
.footer a:hover {
    color: #ff817e;
}
.footer img {
    display: block;
}
.footer .text-center {
    text-align: center!important;
}
.footer .foo-logo {
    margin: 0 auto;
    display: block;
    max-width: 109px;
}
.footer .foo-nav {
    margin: 30px 0;
}
.footer .foo-social {
    margin-bottom: 30px;
}
.footer .foo-social a {
    border-right: 1px solid #b1b4bb;
    color: #3a414e;
    display: inline-block;
    font-size: 14px;
    line-height: .8;
    padding: 0 10px;
}
.footer .foo-social a:hover {
    color: #ff817e;
}
.footer .copyright {
    color: #888;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0;
}
/* bổ xung css các trang điều hướng*/
.mrtop-dh {
    margin-top: 100px;
}