:root {
    --gutter: 20px;
    --primary-color: #1d1f2e;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
  color: var(--primary-color);
  background-color: #fff;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}
a {
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
ul,
ol {
    list-style: none;
}
p {
    margin: 0;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
section p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.container2 {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}
.container1 {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-flow: row wrap;
}

.col-1 {
    flex-basis: 8.33%;
}

.col-2 {
    flex-basis: 16.67%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 33.33%;
}

.col-5 {
    flex-basis: 41.67%;
}

.col-6 {
    flex-basis: 50%;
}

.col-7 {
    flex-basis: 58.33%;
}

.col-8 {
    flex-basis: 66.67%;
}

.col-9 {
    flex-basis: 75%;
}

.col-10 {
    flex-basis: 83.33%;
}

.col-11 {
    flex-basis: 91.67%;
}

.col-12 {
    flex-basis: 100%;
}

[class*="col-"] {
    order: 12;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.j-center {
    justify-content: center;
}

.flex.j-end {
    justify-content: end;
}

.flex.j-between {
    justify-content: space-between;
}

.flex.a-start {
    align-items: flex-start;
}

.flex.a-center {
    align-items: center;
}

.flex.a-end {
    align-items: flex-end;
}
section {
    position: relative;
    width: 100%;
    display: block;
}
.mrbg {
    margin-left: auto;
    margin-right: auto;
}
section {
    display: block;
    position: relative;
}
.t-center {
    text-align: center;
}
/*header*/
.logo img {
    height: 24px;
}
.nav a {
    text-transform: uppercase;
    margin-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    overflow: hidden;
    color: grey;
}
.nav a:hover {
    color: black;
    border-bottom: solid 1px rgb(8, 8, 8);
}
.header-content {
    padding-top: 25px;
    padding-bottom: 25px;
}
.actions {
    padding-left: 50px;
}
.actions img {
    width: 16px;
    height: 20px;
}
.actions .cart-icon {
    margin-top: 0px;
    margin-right: 10px;
    padding-top: 2px;
}
.actions .uppercase-text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    margin-right: 10px;
    padding-top: 5px;
    color: #1d1f2e;
}
.actions .item-count {
    height: auto;
    background-color: #1d1f2e;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 2px;
}
.actions p {
    line-height: 20px;
}
/*bannner*/
.about .container2 {
    background-color: #050827;
    margin-bottom: 130px;
}
.about .about-content {
    position: relative;
    height: 530px;
    background-image: linear-gradient(
180deg
, rgba(5, 8, 39, 0.4), rgba(5, 8, 39, 0.4)), url(images/photobanner.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    color: #fff;
}
.about .label {
    opacity: 0.8;
    position: static;
    display: block;
    opacity: 0.6;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    width: 100%;
    text-align: center;
}
.about .sec-heading {
    margin-top: 160px;
}
.about .header-headline {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 60px;
    display: block;
    text-align: center;
}
.big-paragraph.cc-cover-paragraph {
    margin-bottom: 30px;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    opacity: 0.9;
    color: #fff;
    display: block;
}
.big-paragraph {
    font-size: 17px;
    line-height: 30px;
}
.btn {
    position: relative;
    z-index: 50;
    display: block;
    padding: 18px 24px;
    justify-content: center;
    border-bottom-style: none;
    border-radius: 0px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgb(29 31 46 / 10%);
    transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
    color: #1d1f2e;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover {
    background-color: rgb(207, 207, 205);
}
/*content*/
.content-wrap {
    margin-bottom: 100px;
    text-align: center;
    padding: 0 0!important;
    width: 70%;
}
.content-wrap h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
}
.paragraph {
    color: rgba(29, 31, 46, 0.7);
    margin-bottom: 15px;
    margin-top: 0!important;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.cc-homepage-link {
    margin-top: 10px;
}
.underlined-link {
    display: inline-block;
    border-bottom: 2px solid rgba(162, 95, 75, 0.2);
    transition: color 400ms ease, border-color 400ms ease;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #a25f4b;
}
.underlined-link:hover {
    border-bottom: 2px solid rgba(245, 159, 133, 0.932);
}
.subheadline-deco-line {
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #ececed;
}
.cc-subheadline {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.content-item {
    margin-bottom: 100px;
}
/* products */
.content-wrap2 {
    margin-bottom: 100px;
}
.content-wrap2 .item {
    flex-basis: calc(100% / 2 - 20px / 2);
}
.product-item {
    position: relative;
    margin-bottom: 25px;
}
.product-item-btn {
    display: none;
    position: absolute;
    width: 430px;
    height: 54px;
    bottom: 10px;
    right: 15px;
    transition: all 300ms ease-in-out;
}
.content-wrap2 .product-item:hover {
    opacity: 0.9;
}
.content-wrap2 .product-item:hover .product-item-btn {
    display: block;
}
.product-item-btn2 {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #a25f4b;
    font-weight: 700;
    width: 95px;
    height: 42px;
    background-color: #fff;
    text-align: center;
    padding: 6.5px 0;
}
.product-name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}
.subtw {
    display: block;
    margin-bottom: 5px;
    color: #1d1f2e;
}
.product-pricetw {
    display: inline-block;
    margin-bottom: 5px;
    color: #1d1f2e;
}
.textgn {
    color: rgba(29, 31, 46, 0.4);
    text-decoration: line-through;
    margin-block-start: 0!important;
    padding-top: 8px;
}
.price-n {
    margin-right: 10px;
    color: #a25f4b;
    font-size: 20px;
    line-height: 32px;
    margin-block-start: 0!important;
    padding-top: 8px;
}
/* products 2 */
.content-wrap3 {
    margin-bottom: 50px;
}
.content-wrap3 .item3 {
    flex-basis: calc(100% / 3 - 34px / 3);
}
.product-item3 {
    position: relative;
    margin-bottom: 25px;
}
.product-item3 img {
    height: 380px;
    width: 100%;
    object-fit: cover;
}
.product-item-btn3 {
    display: none;
    position: absolute;
    width: 270px;
    height: 54px;
    bottom: 10px;
    right: 15px;
    transition: all 300ms ease-in-out;
}
.content-wrap3 .product-item3:hover {
    opacity: 0.9;
}
.content-wrap3 .product-item3:hover .product-item-btn3 {
    display: block;
}
/* product 3 */
.content-wrap4 {
    margin-bottom: 100px;
}
.right {
    width: 65%;
}
.left {
    width: 30%;
}
.left img {
    height: 128.02px;
    object-fit: cover;
}
.left-item {
    flex-basis: calc(100% / 2 - 25px / 2);
}
.labell {
    position: static;
    display: block;
    opacity: 0.6;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}
.magazine-headline {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 33.5px;
    line-height: 50px;
}
#w-node-_2d2e750c-a2a7-4379-71a8-dcf95aece3c7-5cecdf68 {
    text-align: start;
}
.dark-button {
    position: relative;
    z-index: 50;
    display: inline-block;
    padding: 18px 24px;
    justify-content: center;
    border-radius: 0px;
    background-color: #1d1f2e;
    box-shadow: none;
    transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
.dark-button:hover {
    background-color: rgb(31, 24, 70);
}