table {
    border-collapse: collapse;
    table-layout: fixed;
}
table, tr, th, td {
    width: 100px;
    border: 1px solid grey;
}
th, td {
    padding: 10px;
    vertical-align: middle;
}
tbody tr:nth-child(odd) {
    background-color: aqua;
}
tbody td:empty {
    background-color: bisque;
}
input[type="text"] {
    width: 100px;
}
textarea {
    resize: none;
}